<!DOCTYPE html>
<!-- Made by CS'24 Team: Ahmet Akın, Eren Kaan Oral, Suleyman Emre Erdem, Y. Arda ILICA -->
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}

  <meta name="google-site-verification" content="INyKYYqR0owE0OMFhAipX9pDNimjuaMeoXlAEjyAtuc" /> 
  <meta name="keywords" content="ieee atilim, ieee atılım, atılım ieee, atilim ieee, Atılım IEEE, Atılım ieee, iee atilim, ATILIM IEEE, atılım iee, atilim iee, iee atılım, IEEE Atilim, IEEE Atılım, IEEE ATILIM, ieee-atilim, ieee atılım üniversitesi, ieee atilim universitesi, atılım üniversitesi, atilim universitesi, IEEE ATILIM ÜNİVERSİTESİ,"/>
  <meta property="og:site_name" content="{{ $.Site.Title }}" />
  <meta property="og:title" content="{{ $.Site.Title }}" />
  <meta name="twitter:site" content="@IeeeAtilim" />
  <meta name="twitter:creator" content="@IeeeAtilim" />
  <meta name="theme-color" content="#1a202c">

  {{ if .IsPage }}
    <title>{{ .Title }} | {{ $.Site.Title }}</title>
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ .Summary }}" />
  <meta name="description" content="{{ .Summary }}" />
  <meta property="twitter:title" content="{{ .Title }}" />
  <meta property="twitter:description" content="{{ .Summary }}" />
  <meta property="article:author" content="your-name" />
  <meta property="article:published_time" content="{{ .Date }}" />
{{ else }}
  <title>{{ $.Site.Title }}</title>
  <meta name="twitter:card" content="summary" />
  <meta property="og:title" content="{{ $.Site.Title }}" />
  <meta property="og:description" content="IEEE Atılım" />
  <meta name="description" content="IEEE Atılım" />
{{ end }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
